#buttons {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    position: relative;
    width: 100vw;
    height: 70vh;
  }
.myButton {
    font-size: 12pt;
    width: 10em;
    height: 5em;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  #message {
    margin-top: 50px;
  }